

.gallery__item:last-child{
    margin-bottom: 0;
}
.gallery__item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin-bottom: 24px;
}
.gallery__item.invert .gallery__item-left{
    order: 2;
}
.gallery__item-left, .gallery__item-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 24px;
    height: 580px;
}
.gc__item__photo{
    height: 100%;
    overflow: hidden;
    background: indianred;
}
.gc__item__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__item--1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery__item--2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.gallery__item--3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gallery__item--4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.gallery__item--5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery__item--6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
}
.gallery__item--7{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.gallery__item--8{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

@media all and (max-width: 1440px) {
    .gallery__item-left, .gallery__item-right{
        height: 333px;
    }
}

@media all and (max-width: 768px) {
    .gallery__item{
        grid-template-columns: 1fr;
    }
}
