.custom-checkbox + label{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: 'FuturaPT-Book';
    color: white;
    line-height: 24px;
    cursor: pointer;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid rgba(255,255,255, 0.3);
    background: rgba(255,255,255, 0.1);
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    background-image: url("../../../assets/imgs/okayIcon.svg");
}
.checkbox__wrapper{
    cursor: pointer;
    position: relative;
    margin-bottom: 40px;
}
.checkbox__wrapper.fail .custom-checkbox+label::before{
    background: rgba(236, 63, 63, 0.15);
    border: 1px solid rgba(236, 63, 63, 0.3);
}
