.subscribe-page{
    padding-top: 60px;
}
.subscribe-page .title{
    margin-bottom: 48px;
}

.subscribe__content{
    display: flex;
    justify-content: space-between;
}
.subscribe__content .subscribe__form-part{
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.subscribe__form-part h4{
    margin-bottom: 40px;
}
.subscribe-page .container{
    margin-bottom: 88px;
}

.subscribe-page .subscribe__form-part{
    width: 100%;
}

.input-group{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.input-group .input__wrapper {
    margin-bottom: 0;
    width: 47%;
}

.info__content .info__ul{
    list-style: none;
}
.info__content .info__ul li{
    margin-bottom: 32px;
}
.info__content .info__ul li:last-child{
    margin-bottom: 0;
}
.info__content .info__ul li p{
    opacity: 0.6;
    margin-bottom: 5px;
}

@media all and (max-width: 768px) {
    .subscribe__content{
        flex-direction: column;
    }
    .subscribe__form-part{
        margin-bottom: 40px;
        max-width: 100% !important;
    }
    .subscribe__content button {
        width: 100%;
    }

    .input-group{
        margin-bottom: 0;
        flex-direction: column;
    }
    .input-group .input__wrapper  {
        width: 100%;
        margin-bottom: 32px;
    }
}
