.select__wrapper{
    margin-bottom: 32px;
    position: relative;
}
.select__wrapper.fail .select__header{
    background: rgba(236, 63, 63, 0.2);
}
.select__header{
    background: rgba(255,255,255, 0.1);
    padding: 16px 20px;
    color: var(--white);
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.select__wrapper.open .sh__arrow{
    transform: rotate(180deg);
}
.select__wrapper.open .select__header{
    color: rgba(255,255,255, 0.4);
}

.select__wrapper .sh__arrow{
    display: flex;
    align-items: center;
}
.select__wrapper .select__ul{
    list-style: none;
}
.select__wrapper .select__ul li{
    background: rgba(255,255,255, 0.1);
    padding: 16px 20px;
    color: rgba(255,255,255, 0.8);
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}
.select__wrapper .select__ul li:hover{
    color: var(--white);
}
