.input-file{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255, 0.1);
    padding: 16px 20px;
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    color: var(--white);
    cursor: pointer;
    margin-bottom: 40px;
    transition: 0.3s;
    position: relative;
    box-sizing: border-box;
}
.input-file.fail{
    background: rgba(236, 63, 63, 0.2);
}
