
.btn{
    font-family: 'FuturaPT-Demi';
    transition: 0.3s;
    cursor: pointer;
}
.btn-red{
    background: var(--red);
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: 16px 44px;
    text-align: center;
    border: none;
}
.btn-red:hover{
    background: var(--more-red);
    box-shadow: 0px 2px 24px rgba(255, 30, 30, 0.5);
}

.btn-fix-width{
    background: rgba(var(--red-rgba), 0.15);
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    padding: 12px 32px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(var(--red-rgba), 0.8);
    box-sizing: border-box;;
}
.btn-fix-width:hover{
    border: 1px solid var(--more-red);
    background: var(--more-red);
    box-shadow: 0px 2px 24px rgba(255, 30, 30, 0.5);
}

.btn-full-width{
    background: rgba(var(--red-rgba), 0.1);
    font-size: 16px;
    width: 100%;
    line-height: 24px;
    color: var(--white);
    padding: 16px 64px;
    text-align: center;
    transition: 0.3s;
    border: 1px solid rgba(var(--red-rgba), 0.8);
    box-sizing: border-box;
}
.btn-full-width:hover{
    border: 1px solid var(--more-red);
    background: var(--more-red);
    box-shadow: 0px 2px 24px rgba(255, 30, 30, 0.5);
}


@media all and (max-width: 768px) {
    .btn-fix-width {
        padding: 12px 25px;
    }
}
