.fb {
    padding: 60px 0 100px 0;
    background-image: url("./../../assets/imgs/fbGb.png");
    background-size: cover;
    background-position: 0% 28%;
    margin-bottom: 70px;
}
.fb .title{
    margin-bottom: 16px;
}
.fb .fb__description{
    margin-bottom: 32px;
    max-width: 370px;
}

.actors{
    margin-bottom: 70px;
    max-width: 100vw;
    overflow: hidden;
}
.actors .actor-slider{
    max-width: 282px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}
.actors .title-part{
    position: relative;
    margin-bottom: 48px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}
.actors .title-part .slider-control {
    display: flex;
    align-items: center;
}
.actors .title-part .slider-control .arrow:hover {
    background: var(--more-red);
    filter: drop-shadow(0px 2px 12px #FF1E1E)
}
.actors .title-part .slider-control .arrow {
    /*transition: 0.3s;*/
    height: 32px;
    width: 32px;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    background: var(--red);
    -webkit-mask-image: url('./../../assets/imgs/arrowSlider.png');
    -webkit-mask-position: center center;
}
.actors .title-part .slider-control .arrow-prev {
    margin-right: 24px;
}
.actors .title-part .slider-control .arrow-next{
    transform: rotate(180deg);
}
.actors .title-part .slider-control .arrow.swiper-button-disabled{
    background: rgba(255,255,255, 0.3);
}
.actors-slider{
    overflow: visible !important;
}
.slider-actors__progress{
    height: 2px;
    width: 100%;
    background: rgba(255,255,255, 0.3) !important;
    bottom: 0;
}
.slider-actors__progress span{
    background: var(--red) !important;
}

.gallery{
    margin-bottom: 88px;
}
.gallery .title{
    margin-bottom: 40px;

}
.gallery .gc__item{
    /*max-height: 580px;*/
    /*background: indianred;*/
}
.gallery__content{
    grid-gap: 24px;
    margin-bottom: 50px;
}

.leaflet-container{
    width: 100%;
    height: 540px;
}

.leaflet-pane.leaflet-tile-pane{
    filter: grayscale(1);
}
.leaflet-control-container{
    /*display: none;*/
}
.leaflet-bottom.leaflet-right{
    display: none;
}
.map .title{
    margin-bottom: 40px;
}
@media all and (min-width: 1440px) {
    .map{
        margin-bottom: 96px;
    }
}
@media all and (max-width: 1440px) {
    .gallery__item-left, .gallery__item-right{
        height: 333px;
    }
    .gallery__content{
        margin-bottom: 24px;
    }
    .map .title{
        margin-bottom: 24px;
    }
    .map_container{
        width: 100%;
        padding: 0;
    }
    .leaflet-container{
        height: 400px;
    }
}
@media all and (max-width: 768px) {
    .fb{
        background-position: 75% 40%;
    }
    .actors .title-part .slider-control .arrow {
        height: 28px;
        width: 28px;
    }
}

