.modal
{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    /*transform: translate(-50%, -50%);*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*overflow-y: auto;*/
    z-index: 1000;
    /*margin: 0 25px;*/
}
.modal .modal__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal .modal__body{
    padding: 56px 80px;
    background: white;
    color: black;
    max-width: 1080px;
    max-height: 100vh;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
}
.modal .modal__body * {
    color: #253329;
}

.modal .modal__close:hover{
    opacity: 0.5;
}
.modal .modal__close{
    position: absolute;
    right: 35px;
    top: 35px;
    z-index: 10;
    cursor: pointer;
}
.modal .bg-black{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.modal .title {
    margin-bottom: 32px;
}
.modal__p{
    margin-bottom: 52px;
}
.modal p.b{
    margin-bottom: 30px;
}

.modal .modal__p:last-child{
    margin-bottom: 0;
}

@media all and (max-width: 1440px) {
    .modal .modal__body{
        margin: 0 24px;
        padding: 48px 40px;
    }
}
@media all and (max-width: 768px) {
    .modal .modal__body{
        margin: 0;
        padding: 24px 16px;
    }
}
