header{
    padding: 22px 0;
    background: black;
}
header .container
{
    display: flex;
    justify-content: space-between;
}
.header .logo{
    display: flex;
    align-items: center;
}

@media all and (max-width: 768px){
    .header .logo{
        max-width: 100px;
        margin-right: 10px;
    }
    .header .logo img {
        width: 100%;
    }
}
