.social-list{
    position: relative;
    z-index: 100;
    display: inline-block;
}
.social-list ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-list ul li {
    margin-right: 16px;
    cursor: pointer;
    position: relative;
}
.social-list ul li:hover .sli__icon{
    background: var(--more-red);
}
.social-list ul li:hover .sli__substrate{
    display: block;
}
.social-list ul li .sli__icon{
    height: 32px;
    width: 32px;
    -webkit-mask-size: cover;
    -webkit-mask-position: center center;
    background: white;
    z-index: 100;
    position: relative;
}
.social-list ul li:last-child {
    margin-right: 0px;
}
.social-list ul li .sli__substrate{
    position: absolute;
    background: white;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    display: none;
    transform: translate(-50%, -50%);
    z-index: -1;
}
