.input{
    position: relative;
    border: none;
    display: block;
    padding: 16px 20px;
    box-sizing: border-box;
    /*margin-bottom: 32px;*/
}
.input__field:focus + .input__label {
    transform: translate(.3rem, -55%) ;
    font-size: 12px;
}
.input__field:not(:placeholder-shown) + .input__label {
    transform: translate(.3rem, -55%) ;
    font-size: 12px;
}
.input__label{
    position: absolute;
    left: 16px;
    top: 16px;
    white-space: nowrap;
    transform: translate(0, 0);
    transform-origin: 0 0;
    transition: transform 120ms ease-in;
    font-weight: bold;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.4);
    width: 100%;
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    box-sizing: border-box;
    line-height: 24px;
}
.input__field{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border: 3px solid currentColor;
    color: currentColor;
    background: transparent;
    border: none;
    outline: none;
    color: var(--white);
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    line-height: 24px;
    transform: translate(0, .3rem) ;
}
.input__wrapper{
    background: rgba(255,255,255, 0.1);
    position: relative;
    margin-bottom: 32px;
}
.input__wrapper.fail{
    background: rgba(236, 63, 63, 0.2);
}
