.textarea{
    padding: 16px 20px;
    background: rgba(255,255,255, 0.1);
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    min-height: 150px;
    box-sizing: border-box;
    resize: none;
}
.textarea__wrapper{
    margin-bottom: 32px;
    position: relative;
}
.textarea__wrapper.fail .textarea{
    background: rgba(236, 63, 63, 0.2);
}
