
h1{
    font-family: 'FuturaPT-Demi';
    font-size: 56px;
    color: var(--white);
}

h2{
    font-family: 'FuturaPT-Demi';
    font-size: 40px;
    color: var(--white);
}
h3{
    font-family: 'FuturaPT-Demi';
    font-size: 32px;
    color: var(--white);
}
h4.b{
    font-family: 'FuturaPT-Demi';
    font-size: 32px;
    color: var(--white);
}
h4{
    font-family: 'FuturaPT-Book';
    font-size: 24px;
    color: var(--white);
}
p{
    font-family: 'FuturaPT-Book';
    font-size: 16px;
    color: var(--white);
}
p.b{
    font-family: 'FuturaPT-Demi';
    font-size: 16px;
    color: var(--white);
}

a, .link{
    font-family: 'FuturaPT-Book';
    font-size: 14px;
    color: rgba(255,255,255, 0.7);
    opacity: 0.7;
    display: inline;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
    cursor: pointer;
}
a:hover, .link:hover{
    color: var(--white);
}
.link__navlink{
    opacity: 1;
    border-bottom: none;
}
@media all and (max-width: 768px) {
    h1{
        font-family: 'FuturaPT-Demi';
        font-size: 40px;
        color: var(--white);
    }

    h2{
        font-family: 'FuturaPT-Demi';
        font-size: 28px;
        color: var(--white);
        display: flex;
        align-items: center;
    }
    h3{
        font-family: 'FuturaPT-Demi';
        font-size: 24px;
        color: var(--white);
    }
    h4.b{
        font-family: 'FuturaPT-Demi';
        font-size: 20px;
        color: var(--white);
    }
    h4{
        font-family: 'FuturaPT-Book';
        font-size: 20px;
        color: var(--white);
    }
    p{
        font-family: 'FuturaPT-Book';
        font-size: 16px;
        color: var(--white);
    }
}

@media all and (max-width: 360px) {
    h1{
        font-family: 'FuturaPT-Demi';
        font-size: 32px;
        color: var(--white);
    }

    h2{
        font-family: 'FuturaPT-Demi';
        font-size: 28px;
        color: var(--white);
    }
    h3{
        font-family: 'FuturaPT-Demi';
        font-size: 24px;
        color: var(--white);
    }
    h4.b{
        font-family: 'FuturaPT-Demi';
        font-size: 16px;
        color: var(--white);
    }
    h4{
        font-family: 'FuturaPT-Book';
        font-size: 16px;
        color: var(--white);
    }
}

