.actor-card{
    height: 400px;
    max-width: 280px;
    width: 100%;
    background-size: cover;
    background-position: center top;
    padding: 32px 24px;
    display: flex;
    z-index: 10;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    box-sizing: border-box;
}
.actor-card .bg-black{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.actor-card:hover .bg-black{
    opacity: 0.4;
}
.actor-card:hover .ac__title-part{
    top: 0px;
    /*bottom: 100%;*/
}
.actor-card .ac__title-part{
    position: absolute;
    top: 80%;
    transition: 0.6s;
    left: 0;
}
.actor-card:hover .actor__description{
    opacity: 1;
}
.actor-card .actor__content {
    position: relative;
    width: 100%;
}
.actor-card .actor__hero{
    margin-bottom: 5px;
}

.actor__description{
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    transition: 0.7s;
}


@media all and (max-width: 1440px) {
    .actor-slider{
        width: 256px !important;
        height: 360px !important;
    }
    .actor-card{
        height: 360px !important;
    }
}
@media all and (max-width: 768px) {
    .actor-slider{
        width: 216px !important;
        height: 280px !important;
    }
    .actor-card{
        height: 280px !important;
    }
}
