.footer{
    background: #343338;
    padding: 42px 0;
}
.footer .container{
    display: flex;
    justify-content: space-between;
}

.footer .politics{
    max-width: 185px;
    text-align: center;
}

@media all and (max-width: 768px) {
    .footer .container{
        flex-wrap: wrap;
    }
    .footer .logo{
        order: 1;
        margin-bottom: 18px;
    }
    .footer .politics{
        min-width: 100%;
        text-align: left;
        order: 3;
    }
    .footer .social-list{
        order: 2;
    }
}
