*{
  margin: 0;
  padding: 0;
}

@import './css/variables.css';
@import './css/fontStyle.css';

body{
  background: var(--black);
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.hide{
  display: none;
}

@media all and (max-width: 1440px){
  .container{
    padding: 0 64px;
  }
}

@media all and (max-width: 768px){
  .container{
    padding: 0 16px;
  }
  .only-desktop{
    display: none !important;
  }
}


/*validation classes*/

.select__wrapper.fail .error-message,
.checkbox__wrapper.fail .error-message,
.input__wrapper.fail .error-message,
.textarea__wrapper.fail .error-message,
.input-file.fail  .error-message{
  display: block
}
.error-message{
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--red);
  transform: translateY(calc(100% + 4px));
  font-size: 12px;
  font-family: 'OrchideaPro-Medium';
}
