body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "FuturaPT-Book";
  src: local("FuturaPT-Book"),
  url("./fonts/FuturaPT-Book.ttf")
}
@font-face {
  font-family: "FuturaPT-Demi";
  src: local("FuturaPT-Demi"),
  url("./fonts/FuturaPT-Demi.ttf")
}
@font-face {
  font-family: "FuturaPT-Heavy";
  src: local("FuturaPT-Heavy"),
  url("./fonts/FuturaPT-Heavy.ttf")
}
@font-face {
  font-family: "FuturaPT-Medium";
  src: local("FuturaPT-Medium"),
  url("./fonts/FuturaPT-Medium.ttf")
}
@font-face {
  font-family: "OrchideaPro-Medium";
  src: local("OrchideaPro-Medium"),
  url("./fonts/OrchideaPro-Medium.ttf")
}
@font-face {
  font-family: "OrchideaPro-SemiBold";
  src: local("OrchideaPro-SemiBold"),
  url("./fonts/OrchideaPro-SemiBold.ttf")
}
